<div id="container">
  <header>

    <a href="#" id="info">&nbsp;&nbsp;i&nbsp;&nbsp;</a>
    <a href="#" id="showtimes" >SHOWTIMES</a>

    <%= form_for :theaters, url: movie_theaters_path(@id), :html => {:class => 'zip_form'} do |f| %>

      <%= f.text_field :zip, :placeholder => "SHOWTIMES" %><br>
      <%= f.hidden_field :movie_id, :value => "id#{@recommendation.movie.id}" %>

    <% end %>

  </header>

  <div id="main" role="main">

    <div id="full_info">
      <p>
       <b>Critics Consensus</b>:
       <%= @recommendation.movie.rt_datum.critics_consensus %>  
      </p>


      <div class="facts">
        <p>
          <span class="left">
            Rated <%= @recommendation.movie.rt_datum.mpaa_rating %>
          </span>
          <span class="right">
            Scored <%= @recommendation.movie.score %>
          </span>
          <span>
            Runtime of <%= @recommendation.movie.rt_datum.runtime %> mins
          </span>
        </p>        
      </div>

      <p class="center">
        <a href="#" class="watch_trailer" >Watch The Trailer</a>
      </p>

    </div>

    <div id="info_box">
      
      <p>
        <b>Critics Consensus</b>:
        <%= @recommendation.movie.rt_datum.critics_consensus %> 
      </p>

      <div id="trailer">
        <iframe src="http://www.youtube.com/embed/<%= @recommendation.movie.videoid %>" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <div id="recommendation">

      <div id="yt_trailer">
        <iframe width="1050" height="590" src="http://www.youtube.com/embed/<%= @recommendation.movie.videoid %>" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <h3>you should see ...</h3>
      <h1>
        <%= @recommendation.movie.title %><%= link_to image_tag("right_arrow.png", :class => "arrow"), movie_path( @recommendation.ranking + 1 ), :id => "next2" %>
      </h1>
      <div id="rating"><%= @recommendation.movie.score %></div>

    </div>

    <%= link_to raw("&nbsp;&nbsp;NEXT →"), movie_path( @recommendation.ranking + 1 ), :id => "next" %>

  </div>
</div> <!--! end of #container -->
