<center>

<%# render :partial => 'shared/you_should_see', 
           :locals => { :title => @movie.title } %>

<%= render @movie %>

<%= link_to 'Next →', movie_path( @ranking + 1 ) %>

<p></p>

<%= form_for :theaters, url: movie_theaters_path(@id) do |f| %>

  <%= f.text_field :zip, value: @zip_code %> <br>
  <%= f.hidden_field :movie_id, value: "id#{@movie.id}" %>
  <%= f.submit 'Get Showtimes' %>

<% end %>

<p>
  
<%= debug(params) if Rails.env.development? %>

</p>

</center>