<center>

<iframe width="853" height="480" src="http://www.youtube.com/embed/<%= @recommendation.movie.videoid %>" frameborder="0" allowfullscreen></iframe>

<br><br>

<%#= render @movie %>
<h3>you should see ...</h3>
<h1><%= @recommendation.movie.title %></h1>

<br><br>

<%= link_to 'Next →', movie_path( @recommendation.ranking + 1 ), :class => "btn btn-primary" %>

<hr>

<div class="container">
    <p>
      <b>SCORED <%= @recommendation.movie.score %></b> - 
      <%= @recommendation.movie.rt_datum.critics_consensus %>    
    </p>
</div>

<hr>

<%= form_for :theaters, url: movie_theaters_path(@id) do |f| %>

  <%= f.text_field :zip, :placeholder => "zip code" %> <br>
  <%= f.hidden_field :movie_id, :value => "id#{@recommendation.movie.id}" %>
  <%= f.submit 'Get Showtimes', class: 'btn' %>

<% end %>

<br><br>
  
<%= debug(params) if Rails.env.development? %>


</center>