<div id="container">
  <header>

    <a href="#" id="info">&nbsp;&nbsp;i&nbsp;&nbsp;</a>
    <span><%= view_score(@recommendation.movie.score) %></span>
    <a href="#" id="showtimes" ><%= @recommendation.zip_code %></a>

    <%= form_for :theaters, url: movie_theaters_path(@recommendation.movie.id), :html => {:class => 'zip_form','data-place' => @recommendation.zip_code} do |f| %>

      <%= f.text_field :zip, :placeholder => @recommendation.zip_code %><br>
      <%= f.hidden_field :movie_id, :value => "id#{@recommendation.movie.id}" %>

    <% end %>   

  </header>

  <div id="main" role="main">

    <%= render "shared/about_the_movie" %>

    <section id="recommendation">

      <%= render "shared/desktop_trailer" %>
      
      <h3>you should see...</h3>
      <h1>
        <span>
          <%= @recommendation.movie.title %>
        </span>
        <%= link_to image_tag("right_arrow.png", :class => "arrow"), movie_theater_path( @recommendation.ranking+1, @recommendation.zip_code ), :id => "next2" %>
      </h1>

    </section> <!--! end of #recommendation -->

    <nav>
      <%= link_to raw("&nbsp;&nbsp;NEXT →"), movie_theater_path( @recommendation.ranking+1, @recommendation.zip_code ), :id => "next" %>  
    </nav>

    <div id="theaters" data-id="<%= params[:id] %>">loading showtimes...</div>   

  </div>
</div> <!--! end of #container -->
