<div id="container">
  <header>

    <a href="#" id="info">&nbsp;&nbsp;i&nbsp;&nbsp;</a>
    <span><%= @recommendation.movie.score %></span>
    <a href="#" id="showtimes" ><%= @recommendation.zip_code %></a>

    <%= form_for :theaters, url: movie_theaters_path(@recommendation.movie.id), :html => {:class => 'zip_form'} do |f| %>

      <%= f.text_field :zip, :placeholder => @recommendation.zip_code %><br>
      <%= f.hidden_field :movie_id, :value => "id#{@recommendation.movie.id}" %>

    <% end %>   

  </header>

  <div id="main" role="main">

    <div id="info_box">
      
      <p>
        <b>Critics Consensus</b>:
        <%= @recommendation.movie.rt_datum.critics_consensus %> 
      </p>

      <div id="trailer">
        <iframe src="http://www.youtube.com/embed/<%= @recommendation.movie.videoid %>" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <div id="recommendation">
      
      <h3>you should see...</h3>
      <h1>
        <%= @recommendation.movie.title %><%= link_to image_tag("right_arrow.png", :class => "arrow"), movie_theater_path( @recommendation.ranking+1, @recommendation.zip_code ), :id => "next2" %>
      </h1>

    </div>

    <%= link_to raw("&nbsp;&nbsp;NEXT →"), movie_theater_path( @recommendation.ranking+1, @recommendation.zip_code ), :id => "next" %>

    <script id="showtimes-template" type="text/x-handlebars-template">
    
    <ul>
        {{#theaters}}

        <div class="listing">

          <li class="theater">{{information.name}}</li>

          <ul class="times">
            {{#showtimes}}
            
            {{#if url}}

              <li><a href="{{url}}">{{time}}</a></li>

            {{else}}

              <li>{{time}}</li>

            {{/if}}

            {{/showtimes}}

          </ul>

        </div>

        {{/theaters}}
    </ul>

    </script>

    <div id="theaters" data-id="<%= params[:id] %>">loading showtimes...</div>

  </div>
</div> <!--! end of #container -->




