<div id="container">
  <header>

    <a href="#" id="info">&nbsp;&nbsp;i&nbsp;&nbsp;</a>
    <span><%= @recommendation.movie.score %></span>
    <a href="#" id="showtimes" ><%= @recommendation.zip_code %></a>

    <%= form_for :theaters, url: movie_theaters_path(@recommendation.movie.id), :html => {:class => 'zip_form'} do |f| %>

      <%= f.text_field :zip, :placeholder => @recommendation.zip_code %><br>
      <%= f.hidden_field :movie_id, :value => "id#{@recommendation.movie.id}" %>

    <% end %>   

  </header>

  <div id="main" role="main">

    <article id="about_the_movie">
      <p>
       <b>Critics Consensus</b>:
       <%= @recommendation.movie.rt_datum.critics_consensus %>  
      </p>

      <section class="facts">
        <p>
          <span class="left">
            Rated <%= @recommendation.movie.rt_datum.mpaa_rating %>
          </span>
          <span class="right">
            TMA Score <%= @recommendation.movie.score %>
          </span>
          <span>
            Runtime of <%= @recommendation.movie.rt_datum.runtime %> mins
          </span>
        </p>        
      </section>

      <p id="watch_desktop_trailer">
        <a href="#" >Watch The Trailer</a>
      </p>

      <div id="mobile_trailer">
        <iframe src="http://www.youtube.com/embed/<%= @recommendation.movie.videoid %>" frameborder="0" allowfullscreen></iframe>
      </div>

    </article> <!--! end of #about_the_movie -->

    <section id="recommendation">

      <div id="desktop_trailer">
        <iframe id='player' width="1050" height="590" src="http://www.youtube.com/embed/<%= @recommendation.movie.videoid %>?modestbranding=1&rel=0&showinfo=0&showsearch=0&autohide=1" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <h3>you should see...</h3>
      <h1>
        <span>
          <%= @recommendation.movie.title %>
        </span>
        <%= link_to image_tag("right_arrow.png", :class => "arrow"), movie_theater_path( @recommendation.ranking+1, @recommendation.zip_code ), :id => "next2" %>
      </h1>

    </section> <!--! end of #recommendation -->

    <nav>
      <%= link_to raw("&nbsp;&nbsp;NEXT →"), movie_theater_path( @recommendation.ranking+1, @recommendation.zip_code ), :id => "next" %>  
    </nav>

    <div id="theaters" data-id="<%= params[:id] %>">loading showtimes...</div>   

  </div>
</div> <!--! end of #container -->




